@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif !important;
}

/* Color de fondo para el item activo del sidebar que contrasta con el logo */
.bg-logo-contrast {
  background-color: #232a36 !important;
  color: #fff !important;
}
